# Chalet
build/
chalet_external/
dist/
.chaletrc
.env*

# Editors
.idea/
.vs/
.vscode/
.fleet/

# Other
.cache/
Thumbs.db
.DS_Store

### vcpkg ###
# Vcpkg

vcpkg-manifest-install.log

## Manifest Mode
vcpkg_installed/

### VisualStudioCode ###
.vscode/*
!.vscode/extensions.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
/build
/external/stable-diffusion
/ui/ver.hpp
locale/**/*.mo
CMakeUserPresets.json
CMakePresets.json