[Desktop Entry]
Version=@PROJECT_VERSION@
Categories=Application;
Terminal=false
Exec=/usr/sbin/sd_ui
Path=~
Name=@PROJECT_NAME@
Comment=@PROJECT_DESCRIPTION@
Icon=stablediffusiongui