[Desktop Entry]
Version=@PROJECT_VERSION@
Categories=Application;
Terminal=false
Exec=${mainExecutable}
Path=${path}
Name=@PROJECT_NAME@
Comment=
Icon=${icon}