[Desktop Entry]
Version=1.0
Categories=Graphics
StartupNotify=true
Terminal=false
Type=Application
Exec=@SD_UI_EXEC@
Name=@PROJECT_NAME@
GenericName=Stale Diffusion
Comment=@PROJECT_DESCRIPTION@
Icon=stablediffusiongui